.legend {
  flex: 1;

  /* overflow-y: auto; */

  display: flex;
  flex-direction: column;

  border-radius: 8px 8px 0 0;
  border: 1px solid var(--outline);
  background-color: var(--sec-bg);
  box-shadow: var(--shadow);
}

.legend::-webkit-scrollbar {
  width: 8px;
}

.legend::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.legend::-webkit-scrollbar-thumb {
  background-color: var(--outline);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.legend .count {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

.legend .content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.empty-state {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;

  color: var(--outline);
}

.empty-state p {
  margin: 0;
  font-weight: 600;
}

.empty-state svg {
  width: 25%;
  fill: var(--outline);
}

.legend .signature {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
}

@media only screen and (orientation: landscape) {
  .legend {
    overflow-y: auto;
  }
}