.legend {
  background-color: var(--mid);
  border: 3px solid white;
  border-bottom: none;
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  border-radius: 1rem 1rem 0 0;
}

.legend svg {
  fill: var(--dark);
}

.legend .count {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

.legend .content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.single-legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.single-legend .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.single-legend .heading .title {
  flex: 1;
}

.single-legend .heading img {
  width: 30%;
}

.single-legend .heading .arrow {
  width: 40px;
  line-height: 0;

  transition: transform 0.5s ease;
}

.single-legend .heading .arrow.open {
  transform: rotate(-180deg);
}

.single-legend .description {
  font-size: 0.75rem;
}

.empty-state {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.empty-state p {
  margin: 0;
}

.empty-state svg {
  width: 30%;
}

.legend .signature {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
}

.legend .signature a {
  color: inherit;
}
