.single-legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  border-top: 1px solid var(--outline);
}

.single-legend:last-child {
  border-bottom: 1px solid var(--outline);
}

.single-legend .heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.single-legend .heading .title {
  flex: 1;
}

.single-legend .heading img {
  aspect-ratio: 3 / 2;
  width: 30%;
  object-fit: cover;
  object-position: left;
  border-radius: 8px;
}

.single-legend .heading .arrow {
  width: 40px;
  line-height: 0;

  transition: transform 0.5s ease;
}

.single-legend svg {
  fill: var(--text);
}

.single-legend .heading .arrow.open {
  transform: rotate(-180deg);
}

.single-legend .description {
  font-size: 0.75rem;
}
