@import url(./modern-normalize.css);

:root {
  --bg: #f9f9f9;
  --sec-bg: #fcfcfc;
  --outline: #ebebeb;
  --text: #8d8d8d;

  --shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

body {
  min-height: 100svh;
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
